---
import { BASE } from "../config";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image = "og.jpg" } = Astro.props;

const defaultTitle = "hi, i'm Benjhie";
const defaultDescription =
  "hello world! this is my personal website. i'm Benjhie, a front-end developer based in PH.";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={Astro.url} />

<!-- Primary Meta Tags -->
<title>{title || defaultTitle}</title>
<meta name="title" content={title || defaultTitle} />
<meta name="description" content={description || defaultDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title || defaultTitle} />
<meta property="og:description" content={description || defaultDescription} />
<meta property="og:image" content={new URL(BASE + image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title || defaultTitle} />
<meta
  property="twitter:description"
  content={description || defaultDescription}
/>
<meta property="twitter:image" content={new URL(BASE + image, Astro.url)} />
